h1{
  text-align: center;
  background-color: rgb(28, 28, 53);
  margin-top: 0;
  color: white;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
}

#classDiv, #details {
  background-color: rgb(19, 96, 109);
  border-radius: 6px;
  border: 1px solid black;
  width: 225px;
  height: auto;
  display: grid;
  justify-items: center;
  padding: 15px;
  margin: 1rem;
  color: white;
  text-decoration: none;
}

#classDiv:hover {
  transform: scale(1.1);
  cursor: pointer;
}